<h1>Listing authors</h1>

<table>
  <thead>
    <tr>
      <th>Username &nbsp&nbsp</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.username %> &nbsp&nbsp</td>
        <td><%= author.email %> &nbsp&nbsp</td>
        <td><%= link_to 'Show', author %> &nbsp&nbsp</td>
        <td><%= link_to 'Edit', edit_author_path(author) %> &nbsp&nbsp</td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path %>
